:host {
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px;
    padding: 0 0 20px;
    display: block;

    .form-group {
        margin-bottom: 10px;

        input {
            margin-bottom: 0;
        }
    }

}

.error {
    background: #B52D30;
    border-radius: 0 0 3px 3px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    margin-top: -1px;
    padding: 6px 10px;
    text-transform: uppercase;
}