<div [formGroup]="parent">
    <div formGroupName="store">
        <div class="form-group">
            <input formControlName="branch" type="text" placeholder="Branch ID">
            <div *ngIf="required('branch')" class="error">
                Branch ID is required
            </div>
            <div *ngIf="invalid" class="error">
                Invalid branch code: 1 letter, 3 numbers
            </div>
            <div *ngIf="unknown" class="error">
                Unknown branch, please check the id
            </div>
        </div>
        <div class="form-group">
            <input formControlName="code" type="text" placeholder="Manager Code">
            <div *ngIf="required('code')" class="error">
                Manager ID is required
            </div>
        </div>
    </div>
</div>