<div class="stock">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <stock-branch [parent]="form"></stock-branch>
        <stock-selector [parent]="form" [products]="products" (added)="addStock($event)"></stock-selector>
        <stock-products [parent]="form" [map]="productMap" (removed)="removeStock($event)"></stock-products>

        <div class="stock-total">Total: {{ total | currency:'USD':true}}</div>

        <div class="stock-buttons">
            <button type="submit" [disabled]="form.invalid"> Order stock </button>
        </div>

        <pre>{{ form.value | json }}</pre>
    </form>
</div>