<div [formGroup]="parent" class="stock-selector">
    <div formGroupName="selector">
        <select formControlName="product_id">
            <option value="">Select stock</option>
            <option *ngFor="let product of products" [value]="product.id"> {{ product.name }} </option>
        </select>
        <stock-counter [step]="10" [min]="10" [max]="1000" formControlName="quantity"></stock-counter>
        <button type="button" (click)="onAdd()" [disabled]="stockExists || notSelected">Add stock</button>
        <div class="stock-selector__error" *ngIf="stockExists">
            Item already exists in the stock
        </div>
    </div>
</div>