.stock-product {

    &__content {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        h2 {
            font-size: 15px;
            font-weight: normal;
        }

        input {
            max-width: 100px;
        }
  
        button {
            flex: 0 0 100px;
            margin-left: 30px;
        }

        stock-counter {
            flex: 0 0 50px;
            margin-left: 30px;
        }
    }

    &__name {
        min-width: 100px;
    }

    &__price {
        margin-left: auto;
        min-width: 100px;
    }
}