<div [formGroup]="parent" class="stock-product">
    <div formArrayName="stock">
        <div *ngFor="let item of stocks; let i = index;">
            <div [formGroupName]="i" class="stock-product__content">
                <h2 class="stock-product__name"> {{ getProduct( item.value.product_id ).name }}</h2>
                <h2 class="stock-product__price"> {{ getProduct( item.value.product_id ).price | currency: 'USD':true}}</h2>
                <input type="number" step="10" min="10" max="1000" formControlName="quantity">
                <button type="button" (click)="onRemove(item, i)">Remove</button>
            </div>
        </div>
    </div>
</div>