.stock-counter {
    background: rgba( 0,0,0, 0.05 );
    border-radius: 3px;
    margin-right: 15px;
    overflow: hidden;

    &.focused {
        box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    }

    & > div > div {
        align-items: center;
        display: flex;

        & > div {
            display: flex;
            flex-direction: column;
        }
    }

    p {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        width: 50px;
    }

    button {
        color: white;
        background: #9E61C8;
        border-radius: 0;
        font-weight: 500;
        line-height: 1;
        padding: 3px 7px;
        padding: 3px;

        &:disabled {
            background: rgba( 0, 0, 0, 0.1 );
            color: rgba( 0, 0, 0, 0.4 );
        }
    }
}