<div class="stock-counter" [class.focused]="focus">
    <div>
        <div (keydown)="onKeyDown($event)" (blur)="onBlur($event)" (focus)="onFocus($event)" tabindex="0">
            <p>{{ value }}</p>
            <div>
                <button type="button" (click)="increment()" [disabled]="value === max">+</button>
                <button type="button" (click)="decrement()" [disabled]="value === min">-</button>
            </div>
        </div>
    </div>
</div>