body {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
}

button {
    background: #A57AC3;
    border: 0;
    border-radius: 4px;
    color: white;
    padding: 10px 12px;

    &:disabled {
        opacity: 0.6;
    }
}

select {
    background: white;
    line-height: 30px;
    width: 100%;
}